<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venue_name %><br>
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :alcohol_served %><br>
    <%= f.check_box :alcohol_served %>
  </div>
  <div class="field">
    <%= f.label :venue_image %><br>
    <%= f.text_field :venue_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
